@font-face {
  font-family: myFirstFont;
  src: url(../fonts/myfont.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

h1,h2,h3,h4,h5,h6{
  font-weight: 900 !Important;
}
h1{
  font-size: 48px;
  line-height: 56px;
}
p{
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none !important;
}

#step-8:hover, #step-7:hover, #step-6:hover, #step-5:hover, #step-4:hover, #step-3:hover, #step-2:hover, #step-1:hover{
  opacity: 1 ;
}

.twolineHeading{
  height: 48px;
}

.Cursor{
  color:#8E44AD;
}

.btn{
  border-radius: 0px !important;
}

.btn-outline-primary {
  color: #8E44AD !important;
  border-color: #8E44AD !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #8E44AD !important;
  border-color: #8E44AD !important;
}


.btn-primary{
  color: #fff !important;
  background-color: #8E44AD !important;
  border-color: #8E44AD !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #8E44AD !important;
  border-color: #8E44AD !important;
}


.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

.btn-outline-secondary{
  color: #000 !important;
  border-color: #000 !important;
  background-color: #fff !important;
}

.btn-outline-secondary:hover {
  color: #000 !important;
  border-color: #000 !important;
  background-color: #fff !important;
}


*{
  color:#444444;
  font-family: 'Lato', sans-serif;
}

.p-18{
  font-size:18px;
  font-weight: 300;
  line-height: 26px;
}

.justfy-content-around{
  justify-content: space-between;
}

.default{
  opacity:0.5;
}

.active{
  opacity:1;
}

.overlay{
  position: absolute;
  z-index: 2;
  top:0px;
  background-color: rgba(108, 51, 133, 0.7);
  width:100%;
  height:calc(100%);
}

.contactBanner{
  height:calc(100vh - 56px);
  width: auto;
  overflow: hidden;
  position: relative;
}

.contactBannerImg{
  height:calc(100vh - 56px);
  width: auto;
}

.contactForm{
  height:calc(100vh - 56px);
}

.arrowDef{
  fill:#FFDFA0;
}

.arrowAct{
  fill:#FFBF40;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color: #8E44AD !important;
}


.blogPreview{
  border: 1px solid #ECF0F1; 
  cursor: pointer;
}

.blogPreview:hover{
  border:1px solid #8E44AD;
}