@font-face {
  font-family: myFirstFont;
  src: url(../fonts/myfont.ttf);
}
h1,h2,h3,h4,h5,h6{
  font-family: myFirstFont;
}
h1{
  font-size: 48px;
  line-height: 56px;
}
p{
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none !important;
  color: #fff !important;
}