@font-face {
  font-family: myFirstFont;
  src: url(../fonts/myfont.ttf);
}
h1,h2,h3,h4,h5,h6{
  font-family: myFirstFont;
}
h1{
  font-size: 48px;
  line-height: 56px;
}
p{
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none !important;
}

#step-8:hover, #step-7:hover, #step-6:hover, #step-5:hover, #step-4:hover, #step-3:hover, #step-2:hover, #step-1:hover{
  opacity: 1 ;
}

.twolineHeading{
  height: 48px;
}

.Cursor{
  color:#8E44AD;
}

.btn{
  border-radius: 0px !important;
}

.btn-outline-primary {
  color: #8E44AD !important;
  border-color: #8E44AD !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #8E44AD !important;
  border-color: #8E44AD !important;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}