@font-face {
  font-family: myFirstFont;
  src: url(../fonts/myfont.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

h1,h2,h3,h4,h5,h6{
  font-weight: 900 !Important;
}
h1{
  font-size: 48px;
  line-height: 56px;
}
p{
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none !important;
}

#step-8:hover, #step-7:hover, #step-6:hover, #step-5:hover, #step-4:hover, #step-3:hover, #step-2:hover, #step-1:hover{
  opacity: 1 ;
}

.twolineHeading{
  height: 48px;
}

.Cursor{
  color:#8E44AD;
}

.btn{
  border-radius: 0px !important;
}

.btn-outline-primary {
  color: #8E44AD !important;
  border-color: #8E44AD !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #8E44AD !important;
  border-color: #8E44AD !important;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

*{
  color:#444444;
  font-family: 'Lato', sans-serif;
}

.p-18{
  font-size:18px;
  font-weight: 300;
  line-height: 26px;
}

.justfy-content-around{
  justify-content: space-between;
}